form {
  &.wpcf7-form {
    br {
      display: none;
    }
    p {
      position: relative;
      margin: 0;

      span {
        &.ajax-loader {
          position: absolute;
          top: 8px;
        }
      }
    }
    label {
      display: block;
      margin-bottom: 15px;
      font-weight: 500;
    }
    span {
      &.required {
        color: $color-hover;
      }
      &.wpcf7-form-control-wrap {
        display: block;
        margin-bottom: 15px;

        input,
        textarea {
          height: auto;
          width: 100%;
          display: block;
          border: 1px solid #dedede;
          background-color: transparent;
          padding: 10px 15px;
          color: #55595c;
          @include transition(all 0.4s ease-in-out);

          &:focus {
            border-color: #bdbdbd;
          }
        }
        textarea {
          height: 143px;
        }
      }
    }
    .wpcf7-submit {
      color: #fff;
      padding: 12px 40px;
      border: none;
      cursor: pointer;
      text-transform: uppercase;
      background: $background-hover;
      @include transition(all 0.4s ease-in-out);

      &:hover {
        background: $background-primary;
      }
    }
  }
}