.site-shop {
  padding: 50px 0;
}
.site-shop__result-count-ordering {
  margin-bottom: 30px;
}
.woocommerce {
  .site-post-item {
    border-bottom: none;
  }
  .woocommerce-result-count {
    float: none;
    margin: 0;
  }
  .woocommerce-ordering {
    float: none;
    margin: 0;
  }
  .woocommerce-ordering select {
    padding: 5px 10px;
    border: 1px solid $border-color;
  }
  .star-rating {
    > span {
      color: $color-hover;
    }
  }
  span {
    &.onsale {
      min-width: auto;
      min-height: auto;
      line-height: inherit;
      padding: 5px 20px;
      font-weight: 400;
      border-radius: 0;
      background-color: $background-hover;
    }
  }
  ul {
    &.products {
      margin: 0 -15px;
      @include flexbox();
      @include flex-flow(row wrap);

      &.columns-5 {
        li {
          &.product {
            @include flex(0 0 20%);
            width: 20%;
          }
        }
      }
      &.columns-4 {
        li {
          &.product {
            @include flex(0 0 25%);
            width: 25%;
          }
        }
      }
      &.columns-3 {
        li {
          &.product {
            @include flex(0 0 33.333333%);
            width: 33.333333%;
          }
        }
      }
      li {
        &.first {
          clear: none;
        }
        &.product {
          float: none;
          margin: 0 0 15px;
          padding: 0 15px;
          @include flexbox();

          .onsale {
            margin: 0;
          }
          .woocommerce-loop-product__title {
            padding: 0;
            margin: 0 0 10px;
            line-height: 1.5em;
            height: 3em;
            overflow: hidden;

            a {
              display: block;
            }
          }
          .price {
            color: $color-hover;
            font-size: 14px;
            font-weight: $font-weight-bold;

            del {
              display: inline-block;
              font-size: 12px;
            }
            ins {
              display: inline-block;
              text-decoration: none;
            }
          }
          .button {
            display: inline-block;
            padding: 7px 15px;
            line-height: inherit;
            border: none;
            color: #ffffff;
            font-size: 12px;
            font-weight: $font-weight-regular;
            background-color: $background-primary;

            &.add_to_cart_button {
              margin: 0;
            }
            &:hover {
              background-color: $background-hover;
            }
          }
          a {
            &.added_to_cart {
              padding: 0;
              font-size: 12px;
              color: #000000;

              &:hover {
                color: $color-hover;
              }
            }
          }
          .star-rating {
            margin: 0 auto 5px;
          }
        }
      }
    }
  }
  nav {
    &.woocommerce-pagination {
      margin-top: 30px;

      ul {
        margin: 0;
        border: none;
        display: block;

        li {
          display: inline-block;
          float: none;
          border: none;

          span,
          a {
            display: block;
            cursor: pointer;
            border: 1px solid $border-color;
            padding: 5px 12px;
            line-height: inherit;
            min-width: inherit;
            @include border-radius(2px);
          }
          a {
            &:focus {
              background-color: transparent;
              color: $color-title;
            }
          }
          span.current,
          a:hover {
            color: #fff;
            background: $background-hover;
            border-color: $background-hover;
          }
        }
      }
    }
  }
  .site-shop-single {
    .site-shop-single__warp {
      margin: 0 -15px 30px;
      @include flexbox();
      @include flex-flow(row wrap);

      span {
        &.onsale {
          top: 0;
          left: 15px;
        }
      }
    }
    div {
      &.product {
        .site-shop-single__gallery-box {
          width: 50%;
          padding: 0 15px;
          position: relative;
        }
        div {
          &.images {
            float: none;
            width: 100%;
            margin: 0;
          }
          &.summary {
            float: none;
            width: 50%;
            padding: 0 15px;
            margin: 0;
          }
        }
        .product_title {
          font-size: 18px;
          margin: 0 0 10px;
        }
        .woocommerce-product-rating {
          margin-bottom: 10px;
          @include flexbox();
          @include align-items(center);

          .star-rating {
            margin: 0 10px 0 0;
          }
        }
        .price {
          margin: 0 0 10px;
        }
        form {
          &.cart {
            margin: 0 0 10px;

            .quantity {
              input {
                padding: 5px 0;
                border: 1px solid #eeeeee;
              }
            }
            .single_add_to_cart_button {
              background-color: $background-hover;
              width: auto;
              padding: 10px 15px;
            }
          }
        }
      }
    }
    .product_meta {
      > span {
        display: block;
        margin-bottom: 5px;
        font-weight: 700;

        &:last-child {
          margin-bottom: 0;
        }
        span,
        a {
          display: inline-block;
          font-weight: 400;
        }
      }
    }
  }
  div {
    &.product {
      .woocommerce-tabs {
        ul {
          &.tabs {
            margin: 0;
            padding: 0;

            &::before,
            &::after {
              display: none;
            }
            li {
              border: none;
              margin: 0;
              padding: 10px 15px;
              border-radius: 0;
              background-color: #323232;

              &::before,
              &::after {
                display: none;
              }
              &.active {
                //border-bottom-color: #eeeeee;
                background-color: #ff5555;

                a {
                  color: #ffffff;
                }
              }
              a {
                padding: 0;
                font-size: 15px;
                font-weight: 400;
                color: #ffffff;
              }
            }
          }
        }
        .panel {
          border: 1px solid #eeeeee;
          padding: 15px;

          &.woocommerce-Tabs-panel--description {
            p {
              margin-bottom: 10px;
            }
          }
        }
        h2 {
          font-size: 18px;
          margin-bottom: 30px;
        }
      }
    }
  }
  #reviews {
    .woocommerce-Reviews-title {
      font-size: 18px;
    }
    #comments {
      ol {
        &.commentlist {
          padding: 0;
        }
      }
    }
  }
  p.stars a,
  .star-rating::before {
    color: #ff5555;
  }
  a {
    &.button {
      &.alt {
        background-color: #000000;

        &:hover {
          background-color: #ff5555;
        }
      }
    }
  }
}
.site-shop__product--item {
  position: relative;
  border: 1px solid #eeeeee;
  text-align: center;
  @include flexbox();
  @include flex-direction(column);

  a {
    &.woocommerce-loop-product__link {
      display: block;
    }
  }
}
.site-shop__product--item-content {
  padding: 10px 5px;
  @include flex(1 auto);
  @include flexbox();
  @include flex-direction(column);
}
.site-shop__product-add-to-cart {
  padding-bottom: 10px;
}
.pswp__bg {
  background-color: rgba(0, 0, 0, 0.9);
}
.woocommerce-cart {
  table {
    &.cart {
      td {
        &.actions {
          .coupon {
            .input-text {
              width: auto;
            }
          }
        }
      }
    }
  }
}
.woocommerce,
.woocommerce-page {
  .col2-set {
    margin: 0 -15px;
    @include flex-flow(wrap);
    .col-1,
    .col-2 {
      @include flex(0 0 50%);
      max-width: 50%;
      width: 100%;
    }
  }
  form {
    .form-row {
      label {
        width: 100%;
      }
      .input-text,
      .select2-container {
        border: 1px solid #eeeeee;
        padding: 10px 15px;
      }
      span {
        &.woocommerce-input-wrapper {
          display: block;
          width: 100%;

          textarea {
            &.input-text {
              height: 150px;
            }
          }
          .select2-container--default {
            .select2-selection--single {
              border: none;
              border-radius: 0;

              .select2-selection__rendered {
                line-height: inherit;
                padding: 0;
              }
              .select2-selection__arrow {
                top: 50%;
                @include transform(translateY(-50%));
              }
            }
          }
        }
      }
      &.place-order {
        @include flex-direction(column);
        @include align-items(flex-start);
      }
    }
  }
  #payment {
    #place_order {
      background-color: #000000;

      &:hover {
        background-color: $background-hover;
      }
    }
  }
}
#order_review_heading {
  margin: 15px 0 15px;
}
.woocommerce-info,
.woocommerce-message {
  border-top-color: $background-hover;

  &::before {
    color: $color-hover;
  }
}
.woocommerce {
  #respond input#submit,
  a.button,
  button.button,
  input.button {
    display: inline-block;
    width: auto;
    padding: 9px 22px;
    color: #000000;
    border-color: #eeeeee;
    background-color: #eeeeee;
    border: none;
    font-weight: 400;
    @include transition(all 0.4s ease-in-out);

    &:hover {
      color: #ffffff;
      background-color: #ff5555;
    }
  }
  #review_form {
    #respond {
      label {
        display: block;
      }
      p {
        display: inline-block;
      }
    }
  }
}