.element-product-ids {
  .product-tabs-list {
    h2{
      font-size: 14px;
      font-weight: 400;
    }
    .btn-tab-product-item {
      display: inline-block;
      cursor: pointer;
      text-transform: uppercase;
    }
  }
}