.header {
  .top-bar {
    padding: 5px 0;
    background-color: $background-primary;

    .sign-up-bar {
      a {
        display: inline-block;
        color: #ffffff;
        font-size: 12px;
        margin-right: 25px;

        &:last-child {
          margin-right: 0;
        }
        i {
          font-size: 12px;
          margin-right: 5px;
        }
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}