// Color
$color-primary: #777777;
$color-title: #333333;
$color-hover: #00b0f0;
$color-hover-second: #e12f2f;

// Background
$background-primary: #00b0f0;
$background-hover: #e12f2f;

// Border color
$border-color: #eeeeee;