// Color
$color-primary: #707070;
$color-title: #333333;
$color-hover: #00b0f0;
$color-hover-second: #e12f2f;

// Background
$background-primary: #00b0f0;
$background-hover: #e12f2f;
$background-hover-opacity: rgba(255,0,0,0.8);

// Border color
$border-color: #eeeeee;