.site-post-item {
  margin-bottom: 30px;
  @include flexbox();
  @include flex-direction(column);

  .site-post-content {
    padding: 15px;
    border: 1px solid #eee;
    @include flex(1 auto);
  }
  .site-post-image {
    margin-bottom: 10px;
  }
}
.site-post-title,
.site-post-title a {
  font-size: 24px;
  margin-bottom: 10px;
}
.site-post-title {
  a {
    color: $color-title;

    &:hover {
      color: $color-hover;
    }
  }
  .site-post-meta {
    margin-bottom: 5px;
  }
}
.site-post-meta {
  font-size: 12px;

  span {
    display: inline-block;
    margin-right: 5px;

    &:after {
      display: inline-block;
      content: '/';
      margin-left: 10px;
      margin-right: 0;
    }
    &:last-child {
      &:after {
        display: none;
      }
    }
    a {
      color: $color-hover;

      &:hover {
        color: $color-primary;
      }
    }
  }
}
.site-post-excerpt {
  ul {
    li {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  table {
    margin-bottom: 30px;
    width: 100%;
    tr {
      border-bottom: 1px solid $border-color;

      th {
        padding: 10px 20px 10px 0;
      }
    }
  }
  dd {
    margin: 0 0 20px;
  }
  &:after {
    display: table;
    clear: both;
    content: '';
  }
}
.page-links {
  font-weight: $font-weight-bold;

  a {
    display: inline-block;

    span {
      display: inline-block;
      padding: 0 5px;
    }
  }
}
.category-desc {
  margin-bottom: 30px;

  .taxonomy-description {
    height: 150px;
    padding: 15px;
    overflow-y: scroll;
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    @include box-shadow(0 3px 3px -3px rgba(0, 0, 0, 0.3));
  }
}
.tag_cloud_on_single {
  margin-bottom: 30px;
  padding: 15px;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  @include box-shadow(0 3px 3px -3px rgba(0, 0, 0, 0.3));

  h3 {
    background: #00b0f0;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    line-height: 1.4em;
    padding: 10px 0;
  }
  a {
    padding: 10px 15px;
    display: inline-block;
    margin-bottom: 10px;
    border: 1px solid #eee;
    transition: all 0.5s ease;

    &:hover {
      background: #ff5c00;
      border-color: #ff5c00;
      color: #ffffff;
      transition: all 0.5s ease;
    }
  }
}
.archive {
  .site-blog {
    padding: 25px 0 50px;

    .site-post-item {
      .site-post-content {
        display: flex;
        flex-direction: row;
        .post-thumbnail {
          margin-right: 20px;
        }
      }
    }
  }
}
.tag-scroll {
  height: 100px;
  overflow-y: scroll;
}